:root {
    --primary: #247600;
    --primary2: #cf0404;
    --bg: #222;
    --main: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;

}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #222;
    border-bottom: 2px solid var(--primary2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary);
    font-style: italic;
}

.navbar .navbar-logo span {
    color: #cf0404;
}

.navbar .navbar-logo span1 {
    color: #cf0404;
}

.navbar .navbar-logo span2 {
    color: #cf0404;
}

.navbar .navbar-nav a {
    color: var(--main);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 0.5rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary2);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary2);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary2);
}

#hamburger-menu {
    display: none;
}

/* navbar search */
.navbar .search-form {
    position: absolute;
    top: 110%;
    right: 7%;
    background-color: #fff;
    width: 30rem;
    height: 4rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 80%;
    width: 90%;
    font-size: 1.5rem;
    color: var(--primary2);
    padding-left: 1.5rem;
    background-color: transparent;
    color: #222;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1.5rem;
    color: #2e2e2e;
}

/* shopping cart */

.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    color: var(--bg);
    background-color: #fff;
    transition: 0.3s;
}

.shopping-cart.active{
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #2e2e2e;
    color: #cf0404;
    position: relative;
}

.shopping-cart img {
height: 6rem;
border-radius: 50%;
}

.shopping-cart h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    color: var(--bg);
}

.shopping-cart .item-price {
    font-size: 1.2rem;
    color: var(--bg);
}

.shopping-cart .remove {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    padding-left: 0.4rem;
}

.shopping-cart .remove:hover {
    color: var(--primary);
}


/* hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(34, 34, 34) 8%, rgba(255, 255, 255, 0) 70%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 6em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(46, 46, 46, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary2);
}

.hero .content p {
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.2;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(46, 46, 46, 0.5);

}

.hero .content .cta {
    margin-top: 1.2rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--bg);
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid #222;
    box-shadow: 1px 1px 3px rgba(46, 46, 46, 0.5);
}

/* about section */
.about,
.service,
.oil,
.contact {
    padding: 8rem 7% 1.4rem;
    background-color: #222;
}

.about h2,
.service h2,
.oil h2,
.contact h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--primary);
}

.about h2 span,
.service h2 span,
.oil h2 span,
.contact h2 span {
    color: var(--primary2);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
    border-radius: 1rem;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
    color: #2e2e2e;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
    text-align: justify;
}

/* service section */
.service h2 {
    margin-bottom: 1rem;
}

.service p {
    color: #fff;
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 500;
    line-height: 1.6;
}

.service .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.service .service-icon a {
    width: 3rem;
    height: 3rem;
    color: #fff;
    margin: 0.3rem;
    border: 1.5px solid #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.service .service-icon a:hover {
    color: #fff;
    background-color: var(--primary2);
    border: 1px solid var(--primary2);
}

.service .row .service-card {
    text-align: center;
    padding-bottom: 4rem;
}

.service .row .service-card img {
    border-radius: 20%;
    width: 80%;
}

.service .row .service-card .service-card-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 1.5rem;
}

/* oil section */
.oil h2 {
    margin-bottom: 1rem;
}

.oil p {
    color: #fff;
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 500;
    line-height: 1.6;
}

.oil .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 0.5fr));
    gap: 1.5rem;
    margin-top: 5rem;
    justify-content: center;
}

.oil .row .oil-card {
    text-align: center;
    border: 1.5px solid #fff;
    border-radius: 0.5rem;
    padding: 2rem;
}

.oil .row .oil-card img {
    border-radius: 50%;
    width: 80%;
}

.oil .row .oil-card .oil-icon {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.oil .oil-icon a {
    width: 2rem;
    height: 2rem;
    color: #fff;
    margin-top: 2rem;
    /* margin:  0.3rem; */
    /* border: 1.5px solid #247600;
    border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.oil .oil-icon a:hover {
    color: var(--primary2);
    /* background-color: var(--primary);
    border: 1px solid var(--primary); */
}

.oil .row .oil-card .oil-card-title {
    margin: 1rem auto 0.5rem;
    color: #fff;
    font-size: 1.2rem;
}

.oil .row .oil-card .oil-card-price {
    color: #fff;
}

/* contact section */
.contact h2 {
    margin-bottom: 1rem;
}

.contact p {
    color: #fff;
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 500;
    line-height: 1.6;
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    border: 1.5px solid #000;
    padding-left: 2rem;
    border-radius: 1rem;
    color: #000;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #222;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--bg);
    background-color: #fff;
    border: 1.5px solid #000;
    border-radius: 1rem;
    cursor: pointer;
}

/* footer section */
footer {
    background-color: #222;
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
    border-top: 2px solid var(--primary2);
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover {
    color: var(--primary2);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .links a:hover {
    color: var(--primary2);
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit p {
    color: #fff;
    font-weight: 700;
}

footer .credit a {
    color: #cf0404;;
    font-weight: 500;
}


/* detail box */
.modal,
.modal2,
.modal3,
.modal4 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(46, 46, 46, 0.8);
}

.modal-container,
.modal-container2,
.modal-container3,
.modal-container4 {
    position: relative;
    background-color: var(--main);
    color: var(--bg);
    margin: 15% auto;
    padding: 1.2rem;
    border: 1px solid #2e2e2e;
    width: 80%;
    border-radius: 2rem;
    animation: animateModal 0.5s;
}

@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close-icon,
.close-icon2,
.close-icon3,
.close-icon4 {
    position: absolute;
    right: 1rem;
    color: #000;
}

.modal-content,
.modal-content2,
.modal-content3,
.modal-content4 {
    flex-wrap: wrap;
}

.modal-content h3,
.modal-content2 h3,
.modal-content3 h3,
.modal-content4 h3 {
    display: block;
    font-size: 1.8rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

.modal-content p,
.modal-content2 p,
.modal-content3 p,
.modal-content4 p {
    padding-right: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 1.5rem;
    color: #000;
}

.modal-content p span,
.modal-content2 p span,
.modal-content3 p span,
.modal-content4 p span {
    color: #cf0404;
}

.modal-content a,
.modal-content2 a,
.modal-content3 a,
.modal-content4 a {
    display: flex;
    gap: 1rem;
    width: 12rem;
    background-color: var(--primary2);
    color: #fff;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
}


/* media queries */
/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .search-form {
        width: 70%;
        right: 2rem;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1.3rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }

    .modal-content {
        flex-wrap: wrap;
    }


}


/* phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}